[run]
branch = True
omit =
    # Exclude the tests themselves
    src/test/*

    # Exclude the generated parser/lexer files
    src/grammar/*

    # Exclude the vendored files
    src/_vendor/*

[report]
exclude_lines =
    # Re-enable the standard pragma since we're overriding exclude_lines
    pragma: no cover

    # __repr__s are often debug-only, so ignore those
    def __repr__

    # Ignore defensive exceptions that will likely never be raised during tests
    raise AbstractError
    raise NotImplementedError
    # These won't even be constructed, so skip them entirely
    InternalError
    ParseConversionError

    # Same goes for defensive checks in __lt__ implementations
    return NotImplemented

    # This one occurs for FloatTy and IntTy and won't ever be hit since its
    # only purpose is to reraise to an InternalError
    except ValueError as e:

[html]
directory = .cov_html
