# IDE files
.idea/
.vscode/
# If it's a symlink
.idea
.vscode

# Generated noise
*.pyc
*.pyd
*.so
.coverage
.cov_html/
.pytest_cache/
build/

# Downloaded by the build script
*.jar
src/grammar/cpp/antlr4_runtime/

# Virtual environment
.venv/

# Interp and tokens files are not necessary
*.interp
*.tokens
