# IDE files
.idea/
.vscode/
# If it's a symlink
.idea
.vscode

# Generated noise
*.class
*.jar
*.java
*.pyc
.coverage
.cov_html/
.pytest_cache/

# Virtual environment
.venv/

# Interp and tokens files do not seem to be necessary?
*.interp
*.tokens

# Folder I use for storing the generated ANTLR output
tmp/
