[MAIN]

# Ignore generated and vendored code
ignore-paths=src/grammar,
             src/_vendor,

# Use as many processes as possible
jobs=0

# Required Python version is 3.10
py-version=3.10


[BASIC]

# Allow foo etc. for tests
bad-names=

# Allow CMD_TYPE, used in commands pacakge - TODO not actually a class
# name, it's a constant that I'm assigning a class to - pylint bug?
class-rgx=(?:CMD_TYPE|[^\W\da-z][^\W_]+)$

# Allow all single-letter variable names (for iteration vars)
good-names=
good-names-rgxs=[a-z]

[FORMAT]

# Maximum line length is 80
max-line-length=80


[MESSAGES CONTROL]

# First couple are defaults, all later ones have explanatory comments
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        # TODO: False positives due to kw_only fields in dataclass
        redundant-keyword-arg,
        # TODO: See above
        no-value-for-parameter,
        # TODO: Currently lots of these about, in the future we may want to
        # reenable this
        fixme,
        # Just a nonsense warning, especially with dataclasses and slots
        too-few-public-methods,
        # I often find this less readable than indenting
        no-else-raise, no-else-return,
        # I prefer using a bunch of return statements over complicating the
        # logic by using variables
        too-many-return-statements,
        # Let me have my locals dangit :(
        too-many-locals,


[REPORTS]

# Output text for CI compatibility (colorized text breaks GitHub's CI)
output-format=text


[SIMILARITIES]

# Signatures are removed from the similarity computation
# FIXME: Does setting this to yes cause problems?
ignore-signatures=no
